body{
    margin: 0;
    background: url('../img/tematica/juegos.jpg') no-repeat center; 
/*     background-color: #F2E8B6; */
    background-size: cover;
    font-family: 'Carter One', Arial, Helvetica, sans-serif;
    max-height: 100vh;
    overflow-y:hidden;
}
 
h1,h2,h3,h4,h5,h6,p{
    font-family: sans-serif;
}

h1{
    margin: 0;
    color: white;
}

h2.close{
    font-size: 1.5rem;
    cursor: pointer;
}

.swal2-title{
    font-size: 1.4rem !important;
}

@media (min-width: 768px) { 
    h2.close{
        font-size: 2rem;
    }
 }

button span.n-d-mobile{
    overflow: hidden;
     display: none;
 }

 @media (min-width: 768px) { 
    button span.n-d-mobile{
        overflow: visible;
         display: inline-block;
     }
  }

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-juego{
    width: 100%;
    height: 100vh;
    padding: 15px;
    margin: auto;
    background: #f2e8b6ea;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

@media (min-width: 768px) { 
    .container-juego{
 
        flex-direction: row;

    }
 }

.container-juego #imagen{
    width: 160px;
    height: 230px;
    margin-left: 0;
    margin-top: 30px;
}

@media (min-width: 768px) { 
    .container-juego #imagen{
        width: 30%;
        height: 95%;
        margin-left: 10px ;
    }
 }


.container-juego #letras{
    margin-left: 0 ;
}

#palabra_a_adivinar{
    margin: 5px auto;
    text-align: center;
}

#palabra_a_adivinar span{
    vertical-align: bottom;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px solid black;
    width: 25px;
    text-align: center;
    margin-right: 6px;
    display: inline-block; /* sin esto, por ser un elemento de línea, no tomaría el width */
}

@media (min-width: 768px) { 
    .container-juego #letras{
        margin-left: 50px ;
    }

    #palabra_a_adivinar{
        margin: 20px auto;
        height: 3em;
    }

    #palabra_a_adivinar span{
        vertical-align: bottom;
        font-size: 4rem;
        font-weight: 600;
        border-bottom: 2px solid black;
        width: 60px;
    }
}


#letras{
    margin: 40px auto ;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
} 


#letras button{
    padding: 8px 18px;
    background-color: #F26D3D;
    color: white;
    font-size: 1.2rem;
    border-radius: 5%;
    border: 0;
    font-weight: 700;
}

#letras button:disabled{
    color: rgb(212, 212, 212);
    background-color: #292929;
    cursor: not-allowed;
}

@media (min-width: 768px) { 
    #letras{
        margin-top: 100px ;
        width: 80%;
        gap: 9px;
    } 
    
    
    #letras button{
        padding: 10px 20px;
        font-size: 1.2rem;
        border-radius: 5%;
        border: 0;
        font-weight: 700;
    }
 }

button#jugar, 
button#ayuda,
button#config{
    background-color: #06314d;
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: 800;
    position: absolute;
}


button#jugar{
    top :20px;
    right: 10px;
}

button#config{
    top:160px;
    right: 10px;
}

button#ayuda{
    display: none;
    top :90px;
    right: 10px;
}

@media (min-width: 768px) { 
    button#config{
        top: auto;
        bottom:20px; 
    }
}

button#jugar:disabled{
    background-color: #888888;
    border: solid 2px rgb(56, 56, 56);
    color: rgb(233, 233, 233);
    cursor: not-allowed;
}

#imgSuccess{
    width: 100%;
    display: none;
    justify-content: center;
}

#imgSuccess img{
    margin: 5px auto;
    width: 90px;
    height: 90px;
}

@media (min-width: 768px) { 
    #imgSuccess img{
        margin: 8px auto;
        width: 200px;
        height: 200px;
    }
 }

button.swal2-confirm.swal2-styled{
    background-color: #272727;
}

@media (min-width: 768px) { 
    button.swal2-confirm.swal2-styled{
        background-color: #F26D3D;
    }
 }

.modal-configuracion{
    background-color: #0c0020cc;
    color: white;
}

.modal-configuracion .modal-content{
    background-color: rgb(46, 46, 46);
}

.modal-configuracion .modal-header h3{
    display: block;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 800;
    text-align: center !important;
}

.modal-configuracion .modal-body{
    padding-top: 0 ;
}

.modal-configuracion .modal-body .title{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px 0 20px;
}

.modal-configuracion .modal-body .title span{
    text-align: center;
    font-weight: 600;
    background-color: #F26D3D;
    width: 90%;
    margin-top: 0;
    font-size: 1.3rem;
    padding: 5px;
    border-radius:10px ;
    display: block;

}

@media (min-width: 768px) { 
    
    .modal-configuracion .modal-body .title{
        margin: 10px 0 30px;
    }

    .modal-configuracion .modal-body .title span{
        padding: 8px;
    }
    
 }


.flex-tematica{
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.flex-tematica .card-tematica{
    cursor: pointer;
    border-radius: 10px;
    background: #fff4ea;
    color:black;
    font-size: 1rem;
    text-overflow: ellipsis;
    padding: 0 0 5px 0;
    text-align: center;
    font-weight: 600;
    margin-left: 15px ;
    width: 30%;
}

.flex-tematica .card-tematica.active{
box-shadow: rgba(255, 115, 0, 0.2) 0px 40px 80px -10px;
color: white;
background-color: #F26D3D;
}

.flex-tematica .card-tematica:hover{
    width: 30.5%;
    box-shadow: rgba(255, 115, 0, 0.2) 0px 40px 80px -10px;
    background: #ffe5cd;
    color: black;
    transition: width 0.2s;
}

.flex-tematica .card-tematica.active:hover{
    color: white;
    background-color: #F26D3D;
}



.flex-tematica .card-tematica img{
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    width: 100%;
    height: 100px;
}

@media (min-width: 768px) { 
    .flex-tematica .card-tematica{
        font-size: 1.2rem;
        padding: 0 0 5px 0;
        margin-left: 25px ;
        width: 25%;
    }
    
    
    .flex-tematica .card-tematica:hover{
        width: 25.5%;
    }
    

    .flex-tematica .card-tematica img{
        width: 100%;
        height: 200px;
    }
 }